<!DOCTYPE html>
<html>
<head>
	<title>Decibely - Inicio</title>
	<link rel="stylesheet" type="text/css" href="inicio.component.css">
</head>
<body>
	<section class="welcome-section">
		<div class="welcome-content">
			<h1>Bienvenido a Decibely</h1>
            <img src="assets/logo-no-background.png" alt="Logo Decibely">
			<div class="button-container">

				<a routerLink="/register" class="register-button">REGISTRARSE</a>
				<a routerLink="/login" class="login-button">INICIAR SESIÓN</a>
			</div>
            <p>"Su musica es para el alma lo que la gimnasia para el cuerpo" Platon </p>
		</div>
        
	</section>
    
</body>
</html>